/* css rest code  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body  style code  */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 30px;
    padding: 40px;

}

/* main box style code  */
.main{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

/* h2 heding style code  */
h2{
    text-align: center;
    padding-bottom:20px ;
    font-size: 28px;
}

/* form style code  */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 3px;

}

/* lable style code  */
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.705);
}

/* input  box stylel code  */
input{
    border: none;
    outline: none;
    padding: 6px 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    font-size: 16px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.863);
}

input:focus{
    background-color: rgb(255, 255, 0);
}


/* button style  code  */
button{
    padding: 7px;
    font-size: 18px;
    background-color: rgb(18, 93, 231);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.952);
    width: 50%;
    margin-top: 15px;

}

/* output box  style code  */

.output{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.output h3{
    padding: 0 10px;


}

/* links style code  */
#links{
    height: 80vh;
    width: 50vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0  15px;
}

#links p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

/* ul style code  */

ul{
    border-bottom: 1px solid rgba(0, 0, 0, 0.774);
    padding-bottom: 10px;
}